body  {
background-color: #cccccc;
text-align: center;
}

p  {  width: 200px;
height: 50px;
margin: 0 auto;
}
.red {

background-color: #ff0000;
}

.white {

background-color: #ffffff;
}

.blue {

background-color: #0000ff;
}


#Menu
{
 background-color:#cccccc;
border:none;
color: black;
padding:3px 10px;
text-align: center;
text-decoration: none;

font-size: 15px;
height: 25px;
cursor: pointer;
float: left;
width: 14.27%;
z-index: 0;
}


.cert  {  width: 950px;
float: left;
height: 600px;

}